.idea
.vscode
.DS_Store
**/node_modules
**/build
/fitnation/mcp_servers
**/.venv
**/__pycache__


backend/venv/Scripts/uvicorn.exe
# Ignore Android local properties for the Flutter app
fitnation/android/local.properties
